<h1>Dialog</h1>
<h2>Basic dialog</h2>
<app-stackblitz [files]="basicFiles" stackblitzTitle="Basic dialog" />
<h2>Blank dialog</h2>
<app-stackblitz [files]="blankFiles" stackblitzTitle="Blank dialog" />
<h2>Dialog with backdrop clickable</h2>
<app-stackblitz
  [files]="backdropFiles"
  stackblitzTitle="Dialog with backdrop clickable"
/>
<h2>Dialog with prevent escape</h2>
<app-stackblitz
  [files]="escapeFiles"
  stackblitzTitle="Dialog with prevent escape"
/>
<h2>Bootstrap style</h2>
<app-stackblitz
  [files]="bootstrapFiles"
  stackblitzTitle="Dialog with bootstrap style"
/>
<h2>Tailwind style</h2>
<app-stackblitz
  [files]="tailwindFiles"
  stackblitzTitle="Dialog with tailwind style"
/>
